/* Global Settings */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

:root {
    --clr-primary-light: #ffffff;
    --clr-primary-dark: #121212;
    --clr-primary: #FFD500;
    --clr-trans: #121212d9;
}

section {
    width: 100%;
    height: 100vh;
    padding: 5rem clamp(1.25rem, -4.1rem + 26.75vw, 28rem);
    background-color: var(--clr-primary-dark);
}

.container {
    width: 100%;
}

.column--50 {
    width: 50%;
    gap: 40px;
}

.pre-heading {
    font-family: 'Fira Code', sans-serif;
    font-size: small;
    font-weight: 400;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: clamp(2rem, 0.5rem + 3.75vw, 4rem);
    font-weight: 900;
}

h2 {
    font-family: 'Fira Code', sans-serif;
    font-size: small;
    font-weight: 400;
}

/* Page Settings */

.about-section {
    height: auto;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    font-weight: 400;
    text-wrap: balance;
}

.contact-button {
    text-decoration: none;
    color: var(--clr-primary);
    background-color: var(--clr-primary-dark);
    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: 'Inter', sans-serif;
    transition: 0.5s ease-in-out;
}

.contact-button:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px var(--clr-primary);
    transition: 0.5s ease-in-out;
}

.tech-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 1.5rem;
    place-content: center;
}

.image-wrapper {
    width: 384px;
    height: 384px;
    position: relative;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.image-wrapper:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px var(--clr-primary);
    transition: 0.5s ease-in-out;
}

.image {
    width: 100%;
    border-radius: 10px;
}

.image-overlay {
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.image-overlay:hover {
    opacity: 0;
}

.li-hash {
    width: 1rem;
    margin-right: 0.5rem;
}

/* Color Utilities */
.bg--dark {
    background-color: var(--clr-primary-dark);
}

.bg--light {
    background-color: var(--clr-primary-light);
}

.bg--trans {
    background-color: var(--clr-trans);
}

.bg--blur {
    backdrop-filter: blur(5px);
}

/* Text Utilities */
.text--primary {
    color: var(--clr-primary);
}

.text--dark {
    color: var(--clr-primary-dark);
}

.text--light {
    color: var(--clr-primary-light);
}

/* Layout Utilities */
.flex {
    display: flex;
}

.flex--start {
    justify-content: flex-start;
    align-items: center;
}

.flex--center {
    justify-content: center;
    align-items: center;
}

.flex-center-y {
    align-items: center;
}

.flex--end {
    justify-content: end;
    align-items: center;
}

.flex--column {
    flex-direction: column;
}

.top-margin {
    margin-top: 0.5rem;
}

.bottom-margin {
    margin-bottom: 1rem;
}

.bottom-margin--l {
    margin-bottom: 3rem;
}